$todo-primary:      #7957d5;
$todo-black-ter:    hsl(0, 0%, 14%);
$todo-gray-darker:  hsl(0, 0%, 21%);
$todo-gray-dark:    hsl(0, 0%, 29%);
$todo-gray:         hsl(0, 0%, 48%);
$todo-gray-light:   hsl(0, 0%, 71%);
$todo-gray-lighter: hsl(0, 0%, 86%);
$todo-white-ter:    hsl(0, 0%, 96%);

$todo-loading-size: 200px;
